ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    flex-basis: calc((100% -60px) /3);
    padding: 20px;
    outline: 1px solid gold;
    box-shadow:  2px 2px 5px 5px gray

}
